$primaryColor: #fff;
$buttonBackground: #e3ac00 ;
$buttonText: #e9ebdd;
$highligth: #f54a30;
$bannerFirstColor: #daa106;
$bannerSecondColor: #dfe22f;
$cardBackground: #3e4152;
$cardSpec: #fff;
$secondaryColor: #cecece; 
$backgroundColor: #232530;
$background-image: url("../img/m-h-night.jpg");
$primaryFont: "Hind", sans-serif;
$secondFont:"Fresca",sans-serif;;
