$primaryColor: #232530 ;
$buttonBackground: #6a9b01;
$buttonText: #e9ebdd;
$highligth: #16a6ce;
$bannerFirstColor: #639109;
$bannerSecondColor: #2b58cc;
$cardBackground: #1c1e27;
$cardSpec: #fff ;
$secondaryColor: #b6b9c2; 
$backgroundColor: #fff;
$background-image: url("../img/m-h-day.jpg");
$primaryFont: "Hind", sans-serif;
$secondFont:"Source Sans Pro",sans-serif;